.idea
.DS_Store

# terraform
**/.terraform.lock*
**terraform.tfstate*
**/terraform/provider.tf2
**/.terraform/
terraform-app-bkp/

# key
**/terraform/.ssh-terraform/*
!demo-container-deploy/terraform/.ssh-terraform/your-key-here.pub

# eks
demo-kubernetes-orchestration/eks/flask-app/flask-app.yaml
